.account-div{
    margin-left: 15px;
    margin-top: 5px;
}

.account-info{
    display: flex;
    /* width: 500px; */
    text-align: center;
}

.account-family{
    text-align: end;
    display: block;
    margin-left: 898px;
}

.account-button{
    display: inline flex;
}


.account-button i{
    margin-top: 20px;
    margin-right: 5px;
}

.edit{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    height: 35px;
}

.edit:hover{
  color: #9c3b3e;
}

.delete{
    display: flex;
    cursor: pointer;
    margin-top: 0;
    height: 55px;
}

.delete:hover{
    color: red;
}

.editing{
    text-align: center;
}

#user{
   text-align: center;
   font-size: 55px;
   color:  white;
   margin-top: 8px;
    
}

.user-photo{
    margin-left: 30px;
    margin-top: 5px;
    text-align: center;
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 50%;
}

