.home-div{
        margin-left: 5%;
        display: flex;
}

.pet-facts {
    width: 200px;
}

.family {
    width: 200px;
    text-align: end;
}

.slideshow{
    background-color: blueviolet;
    width: 200px;
    height: 400px;
    
}

/* .slideshow img {
    animation: fadeinout 9s infinite;
}

@keyframes fadeinout
{
  0%{
    opacity:0;
  }
  50%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
} */

.mypets{
    text-align: center;
    margin-left: 28%; 
    z-index: 1;   
}

.side {
    padding-left: 67%;
    margin-left: 10%;
    position: fixed;
    text-align: end;
}